#property-listings{
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 30em;
}

.property-listings-no-ads-message{
    position: relative;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    text-align: center;
    height: 1.5em;
    font-size: 1.3em;
}

@media screen and (max-width: 900px){
    #property-listings{
        grid-template: 1fr 1fr / 1fr;
        min-height: 15em;
    }

    .property-listings-no-ads-message{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        height: 1.5em;
        font-size: 1.3em;
    }
}