#submit-ad-patch-btn{
    display: block;
    margin: 1em auto;
    font-size: 1em;
}

#submit-ad-post-btn{
    display: block;
    margin: 2em auto;
    font-size: 1em;
}

#post-ad-success-container{
    background-color: white;
    border-top: .075em solid black;
}

#post-ad-success-message{
    text-align: center;
    font-size: 1.25em;
    margin: 2em 0 4em 0;
}

#post-ad-success-button{
    display: block;
    width: 5em;
    height: 2em;
    margin: 2em auto;
}

@media screen and (max-width: 900px){

    /* post ad success mobile and tablet view */
    #post-ad-success-container{
        width: 100%;
    } 
}