.started-ad-listing{
    padding: 0;
    border: .075em solid black;
}

.started-ad-listing-first-section{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: .5em solid lightblue;
}

.started-ad-listing-address-container{
    width: 100%;
    height: 5em;
    margin: 0;
    padding: 0;
}

.started-ad-listing-close-btn{
    display: block;
    height: 2em;
    align-self: center;
    margin-right: 1.25em;
    font-size: 1em;
}

.started-ad-listing-address-container p{
    text-align: center;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
}

.started-ad-listing-buttons-container{
    display: flex;
    width: 100%;
    height: 6em;
    margin: 0;
    padding: 0;
}

.started-ad-listing-dates{
    padding: 0 0 0 1em;
}

.started-ad-listing-dates-label{
    font-size: .8em;
    margin: 0;
}

.started-ad-listing-buttons{
    display: block;
    margin: auto;
    font-size: 1em;
}

/* ad-listing-cancel-success-container style starts here */
#ad-listing-cancel-success-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#ad-listing-cancel-success-message{
    text-align: center;
}

#ad-listing-cancel-success-button{
    display: block;
    margin: 0 auto .5em auto;
    font-size: 1em;
}

/* ad-listing-canel-options style starts here */
#ad-listing-cancel-options{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#ad-listing-cancel-options-confirm-message{
    text-align: center;
}

#ad-listing-cancel-options div{
    display: flex;
    justify-content: space-evenly;
}

#ad-listing-cancel-options div button{
    font-size: 1em;
}

@media screen and (max-width: 900px){
    .started-ad-listing{
        height: auto;
    }
}